body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: #789395;
}
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #E5E3C9;
    border-left: 1px solid #E5E3C9;
    padding: 10px;
}
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: #E5E3C9;
    border-radius: 0;
    border-bottom: 10px solid white;
}
  
.description {
    white-space: pre-wrap;
    border: 1px solid white;
}
  
.time-block {
    text-align: center;
    border-radius: 15px;
}
  
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}
  
.hour {
    background-color: #94B49F;
    color: #E5E3C9;
    border-top: 1px dashed white;
    text-align: right;
}
  
.past {
    background-color: #94B49F;
    color: #E5E3C9
}
  
.present {
    background-color: #8E806A;
    color: #E5E3C9;
}
  
.future {
    background-color: #E4CDA7;
    color: #E5E3C9;
}
  
.saveBtn {
    border-left: 1px solid white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #9A9483;
    color: white;
}
  
.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}